.bg-image {
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;

    &--1 {
        background-image: url("/images/beach_kite.jfif");
    }

    &--2 {
        background-image: url("/images/branch.jfif");
    }

    &--3 {
        background-image: url("/images/kite.jfif");
    }

    &--4 {
        background-image: url("/images/branch.jfif");
    }
}
