nav {
    a {
      padding: 10px 0px !important;  
    }
}
.navbar-brand{
    &:hover {
          opacity: 0.8;
    }
    &:active {
          background-color: transparent;
    }
}

.navbar-toggler {
    &:focus {
        outline: $secondary;
        border-color: $secondary;
    }
}

.navbar-nav {
    .nav-link {
        padding: 10px 0 10px 10px !important;

        @include media-breakpoint-up(lg) {
            font-size: 0.9rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.25rem;
        }
    }
}