<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <title>Leonie Holmes Counselling</title>
   <!-- Fontawesome icons -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">

</head>

<body>

    <main>
       <div class="wrapper">
          <div class="container bg-image bg-image--2">
             <nav>
                <a href="index.html">Page 01</a>
                <a href="page2.html">Page 02</a>
                <a href="page3.html">Page 03</a>
                <a href="page4.html">Page 04</a>
             </nav>
               <div class="title">
                  <h2>What is counselling?</h2>
                  <p>Lorem ipsum</p>
               </div>
          </div>
       </div>
    </main>

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
</body>

</html>