.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-up(md) {
      height:100vh;
    }

    &--1 {
        background-image: url("/images/beach_kite.jfif");
    }
}
