footer {
    background-color: #d3d3d3;
}

.border-blue {
    border: 1px solid #b5dbdd;
}

.bg-opaque {

    background-color: rgba(255, 255, 255, 0.6);

    @media only screen and (min-width: 600px) {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

*:focus {
    outline: none !important;
    border: none !important;
}