.table {
  width: 100%;
  
  @include media-breakpoint-up(sm) {
    width: 485px;
  }
}

footer {
    background-color: #e5e5e5;
}

*:focus:not(.navbar-toggler) {
    outline: none !important;
    border: none !important;
}

