@import "overrides.scss";
@import "/global/text.scss";
@import "/components/background-images.scss";

// primary orange: #FF7101 //

// GLOBAL //
body {
    margin: 0;
    padding: 0;
}

// NAVBAR //
nav {
    position: relative;
    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;

    a {
        margin: 0 20px 0 0;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        border-radius: 5px;

        &:active {
            background-color: #9fccd0;
        }
    }
}
